@font-face {
  font-family: "Gill Sans Nova Light";
  src: url("//db.onlinewebfonts.com/t/6c8fcef9d431610bf68654abd3e698bd.eot");
  src: url("//db.onlinewebfonts.com/t/6c8fcef9d431610bf68654abd3e698bd.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/6c8fcef9d431610bf68654abd3e698bd.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/6c8fcef9d431610bf68654abd3e698bd.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/6c8fcef9d431610bf68654abd3e698bd.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/6c8fcef9d431610bf68654abd3e698bd.svg#Gill Sans Nova Light")
      format("svg");
}

@font-face {
  font-family: "Baskerville BT Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Baskerville BT Italic"),
    url("/public/BaskervilleItalicBT.woff") format("woff");
}

@font-face {
  font-family: "Baskerville";
  src: url("./public/BaskervilleItalic.ttf") format("truetype");
}

.container {
  max-width: 800px;
  margin: auto;
}

.header {
  width: 90vw;
  margin: auto;
}

.hero-image {
  width: 100%;
  display: block;
  height: auto;
}
.heading {
  text-align: center;
  font-family: "Gill Sans Nova Light";

  text-transform: uppercase;
  letter-spacing: 1;
}

.heading-text {
  font-size: 1.7777em;
}
.body {
  font-family: "Baskerville BT Italic";
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.25;
}

.logo-container {
  width: 90vw;
  margin: auto;
}

.logo {
  max-height: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
}
